body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.button{
    color:#f0f0f0;
    background-color: #3498db;
    border: none;
    padding: 10px 15px;
}

button:hover{

    background-color:#2980b9
    
}

button:active{
    background-color: #1c5985;
    border-radius:  70%;
    padding: 10px;
}

.input{
    border:none;
    outline: solid 1px #ccc;
}



input:focus{
    border: none;
    outline: solid 1px #3498db;
}

input:disabled{
    background-color: #f0f0f0;
}

a{
    color:#3498db;
    text-decoration: none;
}

a:visited{
    color:#ee18d1;
}

.list-i{
    background-color: purple;
}

.list-i:nth-child(even){
    background-color: blue;
}

.checkbox{
    border: none;
    outline: none;
}


.checkbox:checked{
    border: none;
    outline: none;
    color: rgb(189, 11, 243);
}

.checkbox:focus{
    outline: none;
}